/* line 13, ../sass/base.scss */
#naming-keyword {
  width: 940px;
  height: 80px;
}

/* line 18, ../sass/base.scss */
#naming-keyword h1 {
  display: inline-block;
}

/* line 22, ../sass/base.scss */
:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 24, ../sass/base.scss */
#keyword-textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "Nunito", sans-serif, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #555753;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.03);
  display: inline-block;
  height: 37px;
  font-size: 2em;
  resize: none;
  outline: none;
  margin-left: 5px;
  margin-top: 22px;
}

/****
Navigation bar css
*****/
/* line 44, ../sass/base.scss */
#nav_bar {
  position: fixed;
  top: 0px;
  z-index: 9999;
  margin: 0 auto;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #c8c8c8;
  overflow: hidden;
}
/* line 57, ../sass/base.scss */
#nav_bar p {
  margin-left: 50px;
  float: left;
  font-size: 14pt;
  margin-top: 15px;
}

#content
{
  /* margin-top: 60px; */
}

/* line 66, ../sass/base.scss */
#links {
  width: 800px;
  float: left;
  text-align: left;
  margin-left: 25px;
  font-size: 14pt;
  margin-top: 15px;
}
/* line 74, ../sass/base.scss */
#links a {
  color: gray;
  padding: 17px 20px 21px;
}
/* line 79, ../sass/base.scss */
#links a:hover {
  color: #191919;
  background-color: #e1e1e1;
}

/****
End of navigation bar css
****/
/* line 89, ../sass/base.scss */
#seed-drop {
  width: 100%;
  min-height: 255px;
  margin: 0 auto;
}

/* line 95, ../sass/base.scss */
.bbox {
  display: inline-block;
  border: 1px solid black;
  float: none;
  position: relative;
}

/* line 103, ../sass/base.scss */
#main {
  background-color: white;
}

/* line 108, ../sass/base.scss */
body {
  font-family: "Nunito", sans-serif, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #555753;
  margin: 0;
  padding: 0;
}

/* line 115, ../sass/base.scss */
#container {
  background: none repeat scroll 0 0 white;
  margin: 50px auto;
  padding: 20px 30px;
  width: 940px;
}

/* line 122, ../sass/base.scss */
#keyword-container {
  margin: 0 auto;
  width: 100%;
}

/* line 127, ../sass/base.scss */
a {
  color: #59C5C7;
  text-decoration: none;
}

/* line 132, ../sass/base.scss */
a:hover {
  color: #333333;
}

/*
Start of card css
*/
/* line 140, ../sass/base.scss */
.card {
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 126px;
  margin: 13.5px;
  display: inline-block;
}

/* line 147, ../sass/base.scss */
.card-image {
  background: black;
  height: 126px;
  width: 126px;
}
/* line 152, ../sass/base.scss */
.card-image img {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 154, ../sass/base.scss */
.card-image img:hover {
  opacity: 0.8;
}

/* line 161, ../sass/base.scss */
.card-content {
  height: 50px;
  display: block;
  overflow: hidden;
  padding: 7px 10px 0;
  position: relative;
  white-space: nowrap;
}

/*
End of card css
*/
/*
Start of floating div property
*/
/* line 177, ../sass/base.scss */
.sticky {
  z-index: 9999;
  background: white;
  border: 1px solid #c8c8c8;
  padding: 2px;
}

/*
End of floating div property
*/
canvas {
display: block;
}

.cropped{
    position: relative;
    top: 43%;
    transform: translateY(-50%);
    display: block;
    margin: auto;
    border: solid 5px white;
}

.outerBox{
margin-left: 50px;
margin-bottom: 10px;
width:1040px;
float: left;
}

.box{
/* border-stye: solid; */
/* border-width: 5px; */
margin: 10px;
width: 500px;
float: left;
}
.checkboxbox{
/* border-stye: solid; */
/* border-width: 5px; */
margin: 10px;
width: 500px;
position: absolute;
bottom: 0;
}
.clickablebox{
/* border-stye: solid; */
/* border-width: 5px; */
position: relative;
width: 510px;
height: 600px;
float: left;
border: solid 1px black;
}
.item0 {
color: #2c7fb8;
border-color: #2c7fb8;
}
.item1 {
color: #dd1c77;
border-color: #dd1c77;
}
.item2 {
color: #fd8d3c;
border-color: #fd8d3c;
}
.item3 {
color: #74a9cf;
border-color: #74a9cf;
}
.item4 {
color: #8c6bb1;
border-color: #8c6bb1;
}
.item5 {
color: #66c2a4;
border-color: #66c2a4;
}
.item6 {
color: #8e0152;
border-color: #8e0152;
}
.item7 {
color: #01665e;
border-color: #01665e;
}
.item8 {
color: #7fbc41;
border-color: #7fbc41;
}
.item9 {
color: #253494;
border-color: #253494;
}
.positive {
  border: solid 5px lime;
}

#example-container {
margin: 10px; 
padding: 10px;
}

.dot_section {
    margin-top:10px;
    padding:20px;
    border: 1px dashed #968895;
    }
ul {
    list-style-type: circle;
    }
#frame {
    width:1200px;

    }
.text {
    margin: 1px
}
hr.blank{
    border-color: white;
}
hr.blank:before{
    border-color: white;
}
hr{
    margin: 0;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 2px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    margin: 0;
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 2px 0;
    border-radius: 20px;
}
.styled-button-10 {
    background:#5CCD00;
    background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
    background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
    padding:10px 15px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:16px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #459A00;
    margin: 5px;

}

/* Checkbox display */

fieldset.checks  { 
  padding: 0; 
  border: none;
} 

.checks{
float: left;
}

ul.checkbox  { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
} 

ul.checkbox li input { 
  margin: .25em;
}
ul.checkbox li input[type="checkbox"] { 
    //zoom: 2.0;
} 

ul.checkbox li { 
  border: 3px transparent solid; 
  display:inline-block;
  width:12em;
} 

ul.checkbox li label { 
} 

ul.checkbox li:hover, 
ul.checkbox li.focus  { 
  background-color: lightblue; 
  border: 3px transparent solid; 
  width: 12em; 
} 

.none-label {
  width: 172px;
  font-weight: bold;
}

.side-label {    
    width: 172px;
}

label {
    display: inline-block;
}
.superdiv {
    width: 1000px;
}
.ui-tooltip .ui-tooltip-content{
  font-size: 12px;


}

#score{
  position: fixed;
  width: 200px;
  left:750px;
  bottom: 30px;
  padding: 2px;
}